.AddImage{
    display: flex;
    flex-direction: column;
}

.create-form-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-form-container input{
    border:solid black;
    border-width: thin;
    width:170ppx;
    font-size: 10px;
    margin-top: 10px;


}
