.HomePage{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:15px;
    margin:20px 20px 20px 20px;
  }

  .HomePage img{
    margin-top: 25px;
    height: 200px;
    width: 220px;
    }



    button:hover {
      background-color: rgb(85, 85, 85);
      border-radius: 20px;     
    }

    .page-container-with-toggle-button{
      display: flex;
      flex-direction: column-reverse;
      margin-top:10px;
     
    }


    .remove-toggle{
      margin-left: 10px;
      background-color: black;
      color: white;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .remove-toggle:hover{
      margin-left: 10px;
      background-color: rgb(85, 85, 85);
      color: white;
      border-radius: 10px;
    }

    .homepage-image-container{
      position: relative;
      z-index: 1;
    }


    .delete-button{
      position: absolute;
      top:25px;
      right:1px;
      background-color: black;
      border-radius: 20px;
      color:white;
      font-size: 16px;
    }
