.HomePage{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:15px;
    margin:20px 20px 20px 20px;
  }

  .HomePage img{
    height: 200px;
    width: 220px;
    }


    .homepage-image-container button{
      margin-top:10px;
      background-color: lemonchiffon;
      border-radius: 20px;
    }


    button:hover {
      background-color: red;
      height: 50px;
      width: 50px;
      font-size: 20px;
      
    }