.image-detail-container img{
    width: 45vw;
  
    }

    .image-detail-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

.edit-button{

    margin-top: 30px;
    border-radius: 100px;

}

.right-side-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    text-align: center;
}




.edit-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.edit-form-container input{
    margin-top: 10px;
    width: 200px;
}

.details-form{
    height: 50px;
}

.page-container-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.detail-title{
    font-weight: bolder;
    font-style: normal;
}

.detail-body{
    font-style: italic;
}