.image-detail-container img{
    width: 50vw;
    height: auto;
    }

    .image-detail-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

.edit-button{

    margin-top: 20px;
}

.edit-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}